<template>
  <div
    :class="[`btn btn--${type}`, { 'btn--disabled': disabled }]"
    @click="$emit('click')"
  >
    {{ label }}
  </div>
</template>

<script>
export default {
  props: {
    type: {
      default: 'default',
      type: String,
      validator: function(value) {
        return ['primary', 'danger', 'default', 'success'].includes(value);
      }
    },
    label: String,
    disabled: Boolean
  }
}
</script>

<style lang="scss" scoped>
.btn {
  display: inline-flex;
  padding: $default-padding;
  cursor: pointer;
  min-width: 60px;
  justify-content: center;

  &--default {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: #fff;
  }

  &--primary {
    color: #fff;
    background-color: $primary-color;
  }

  &--success {
    color: #fff;
    background-color: $success-color;
  }

  &--danger {
    color: #fff;
    background-color: $error-color;
  }

  &--disabled {
    opacity:0.5;
    cursor: default;
    pointer-events: none;
  }
}
</style>