<template>
<div class="input">
  <input
    :type="type"
    required
    :value="value"
    @input="$emit('input', $event.target.value)"
    @focus="focused = true"
    :id="id"
    v-focus="autofocus"
  />
  <label :for="id"> {{ label }} </label>
  <span />
</div>
</template>

<script>
export default {
  props: {
    type: String,
    label: String,
    value: [String, Object],
    id: String,
    autofocus: Boolean
  },
  data: function() {
    return {
      focused: false,
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  position: relative;
  margin: $default-margin 0;

  input {
    outline: none;
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: inherit;
    font-size: $default-font-size;
    width: 100%;
    padding: 5px 0;
    font-family: $default-font;
    font-weight: 300;
    color: $default-font-color;

    &:focus,
    &:valid {
      ~span {
        left: 0;
        width: 100%;
      }

      ~label {
        font-size: $caption-font-size;
        transform: translateY(-27px);
        color: $primary-color;
      }
    }
  }

  span {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    transition: 180ms;
  }

  label {
    cursor: text;
    position: absolute;
    top: 34%;
    left: 0;
    font-size: $default-font-size;
    transition: 180ms;
  }
}
</style>