<template>
  <div class="modal">
    <div class="modal__layout">
      <div class="modal__close">
        <img
          @click="$emit('close')"
          src="../../assets/icons/times.svg"
          alt="Close"
        />
      </div>
      <div class="modal__content">
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>

<style lang="scss" scoped>
.modal {
  display: flex;
  flex-direction: column;
  padding: $default-padding;
  position: fixed;
  z-index: $modal-z-index;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: $modal-overlay-background;

  &__layout {
    background: $modal-background;
    border-radius: $default-border-radius;
    position: relative;
    max-width: $modal-width;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 25px;
    img {
      max-width: 100%;
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
</style>
