<template>
<div class="calendar">
  <div class="calendar__date">
    {{ currentDate }}
  </div>
  <div class="calendar__events">
    <div class="calendar__legends">
      <p v-for="(time, index) in legends" :key="index">
        {{ time }}
      </p>
    </div>
    <div class="calendar__rows">
      <CalendarRow
        v-for="(row, index) in rows"
        :key="index"
        :rowIndex="index"
      />
    </div>
  </div>
</div>
</template>

<script>
import CalendarRow from './CalendarRow';
import { meridianTime, shortDate } from '../utils/datetime';
import { MINS_IN_DAY, MIN_TIME_INTERVAL } from '../utils/constants';
import store from '../store';

export default {
  data: function () {
    return {
      currentDate: shortDate(Date.now()),
      /**
       * Just a helper to determine the number of calendar rows to be rendered.
       */
      rows: new Array(MINS_IN_DAY / MIN_TIME_INTERVAL).fill(0)
    }
  },
  computed: {
    legends: function() {
      const legends = [];
      for(let i = 0; i <= 60 * 24; i += 60) {
        legends.push(meridianTime(i));
      }

      return legends;
    }
  },
  created: function() {
    store.dispatch('getEvents');
  },
  components: {
    CalendarRow
  }
}
</script>

<style lang="scss" scoped>
.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__date {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $default-padding;
    background: $header-background;
    font-size: $header-font-size;
    color: $light-font-color;
    border-bottom: 1px solid $border-color;
  }

  &__events {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-self: stretch;
    margin-top: $header-height;
  }

  &__legends {
    display: flex;
    flex-direction: column;
    font-size: $caption-font-size;
    justify-content: space-between;
    align-items: flex-end;
    background: $legend-background;
    flex: 1 1 auto;
    border-right: 1px solid $border-color;

    p {
      padding: $default-padding;
      margin: 0;
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    width: calc(100vw - #{$calendar-legends-width})
  }
}
</style>
