<template>
  <div
    @click="openDialog"
    :style="getRowStyle(rowIndex)"
    :class="[
      'calendar-row',
      { 'has-event': !!getAssociatedEvent(rowIndex) },
      { 'is-first': isFirstRowInEvent(rowIndex) },
      { 'is-last': isLastRowInEvent(rowIndex) }
    ]"
  >
    <div v-if="isFirstRowInEvent(rowIndex)">
      <div class="calendar-row__label">
        {{ getAssociatedEvent(rowIndex).label }}
      </div>
      <div class="calendar-row__time">{{ getIntervalLabel(rowIndex) }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import { OPEN_DIALOG } from '../store/constants';
import store from '../store';

export default {
  props: {
    rowIndex: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapGetters([
      'getAssociatedEvent',
      'getIntervalLabel',
      'getRowStyle',
      'isFirstRowInEvent',
      'isLastRowInEvent',
    ])
  },
  methods: {
    openDialog: function() {
      store.commit(OPEN_DIALOG, { selectedRowIndex: this.rowIndex });
    }
  }
}
</script>

<style lang="scss" scoped>
.calendar-row {
  display: flex;
  align-items: stretch;
  min-height: $calendar-row-height;
  cursor: pointer;
  padding: 5px;

  &:hover {
    border: 1px solid $primary-color;
  }

  &.has-event {
    border: 1px solid transparent;
    border-left-color: $calendar-row-event-border-color;
    border-right-color: $calendar-row-event-border-color;
    color: $light-font-color;

    &.is-first {
      border-top-color: $calendar-row-event-border-color;
    }

    &.is-last {
      border-bottom-color: $calendar-row-event-border-color;
    }
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100vw - #{$calendar-legends-width} - 30px);
  }

  &__time {
    font-size: $caption-font-size;
  }
}
</style>
