<template>
  <Modal @close="closeDialog">
    <div class="event">
      <div
        class="event__form"
        v-if="!selectedRowEvent || isEditing"
      >
        <Input
          type="text"
          label="Title"
          v-model.trim="label"
          :autofocus="true"
        />
        <div class="event__form-field">
          Starts at:
          <Select
            maxHeight="200px"
            :searchable="false"
            v-model="startTime"
            :options="startTimeOptions"
          />
        </div>
        <div class="event__form-field">
          Ends at:
          <Select
            maxHeight="200px"
            :searchable="false"
            v-model="endTime"
            :options="endTimeOptions"
          />
        </div>
        <div class="event__form-error">
          {{ calendar.error }}
        </div>
        <div class="event__actions">
          <Button
            v-if="selectedRowEvent"
            label="Cancel"
            @click="isEditing = false"
          />
          <Button
            type="primary"
            :disabled="label.length < 1 || label.length > 100"
            :label="selectedRowEvent ? 'Update' : 'Add'"
            @click="submit"
          />
        </div>
      </div>
      <div v-else class="event__info">
        <div class="event__title">
          {{ selectedRowEvent.label }}
        </div>
        <div class="event__time">
          {{ getIntervalLabel(dialog.selectedRowIndex) }}
        </div>
        <div class="event__actions">
          <Button label="Delete" type="danger" @click="deleteEvent" />
          <Button label="Edit" @click="editEvent" />
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import { CLOSE_DIALOG, RESET_ACTION_ERROR } from '../store/constants';
import { meridianTime } from '../utils/datetime';
import { MINS_IN_DAY, MIN_TIME_INTERVAL } from '../utils/constants';
import store from '../store';

export default {
  data: function() {
    return {
      isEditing: false,
      label: '',
      startTime: { label: '', value: null },
      endTime: { label: '', value: null }
    }
  },
  computed: {
    ...mapState([
      'calendar',
      'dialog'
    ]),
    ...mapGetters([
      'getIntervalLabel',
      'getAssociatedEvent',
      'getAssociatedEventId'
    ]),
    selectedRowEventId: function() {
      return this.getAssociatedEventId(this.dialog.selectedRowIndex);
    },
    selectedRowEvent: function() {
      return this.getAssociatedEvent(this.dialog.selectedRowIndex);
    },
    startTimeOptions: function() {
      const options = []
      for (let i = 0; i < MINS_IN_DAY; i += MIN_TIME_INTERVAL) {
        options.push({ value: i, label: meridianTime(i) });
      }
      return options;
    },
    endTimeOptions: function() {
      const options = [];
      const minEndTime = this.startTime.value + MIN_TIME_INTERVAL;
      for (let i = minEndTime ; i <= MINS_IN_DAY; i += MIN_TIME_INTERVAL) {
        options.push({ value: i, label: meridianTime(i) });
      }
      return options;
    }
  },
  methods: {
    closeDialog: function() {
      store.commit(RESET_ACTION_ERROR);
      store.commit(CLOSE_DIALOG);
    },
    editEvent: function() {
      store.commit(RESET_ACTION_ERROR);
      this.autofillForm();
      this.isEditing = true;
    },
    deleteEvent: function() {
      store.dispatch('deleteEvent',
        { id: this.selectedRowEventId });
    },
    submit: function() {
      const eventData = {
        label: this.label,
        startTime: this.startTime.value,
        endTime: this.endTime.value
      };

      if (this.selectedRowEvent) {
        store.dispatch('updateEvent', {
          id: this.selectedRowEventId,
          eventData
        });
      } else {
        store.dispatch('addEvent', { eventData });
      }
    },
    autofillForm: function() {
      if (this.selectedRowEvent) {
        const { label, startTime, endTime } = this.selectedRowEvent;
        this.label = label;
        this.startTime = { value: startTime, label: meridianTime(startTime) };
        this.endTime = { value: endTime, label: meridianTime(endTime) };
      } else {
        const startTime = this.dialog.selectedRowIndex * MIN_TIME_INTERVAL;
        this.label = '';
        this.startTime = {
          value: startTime,
          label: meridianTime(startTime)
        };
      }
    }
  },
  watch: {
    startTime: function(startTime){
      if(!this.endTime.value || this.endTime.value <= startTime.value){
        const endTime = this.startTime.value + MIN_TIME_INTERVAL;
        this.endTime = { value: endTime, label: meridianTime(endTime) };
      }
    }
  },
  created: function() {
    this.autofillForm();
  }
}
</script>

<style lang="scss" scoped>
.event {
  padding: 10px;

  &__title {
    font-size: $header-font-size;
    font-weight: bold;
    color: $dark-font-color;
  }

  &__time {
    margin-bottom: $default-margin;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    .btn:not(:last-child) {
      margin-right: $default-margin;
    }
  }

  &__form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $default-margin 0;

    select {
      width: 200px;
      padding: $default-padding;
    }
  }

  &__form-error {
    color: $error-color;
    font-size: $caption-font-size;
  }
}
</style>

<style lang="scss">
.v-select {
  min-width: 180px;
  .dropdown-toggle .clear {
    visibility: hidden;
  }
}

</style>
