<template>
  <div id="app">
    <Calendar />
    <EventDialog v-if="dialog.selectedRowIndex !== null" />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Calendar from './components/Calendar.vue';
import EventDialog from './components/EventDialog.vue';

export default {
  name: 'app',
  computed: {
    ...mapState([
      'dialog'
    ])
  },
  components: {
    Calendar,
    EventDialog
  }
}
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

#app {
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-font-color;
  font-size: $default-font-size;
}
</style>
