// Font sizes

$header-font-size: 32px;
$sub-header-font-size: 24px;
$default-font-size: 16px;
$caption-font-size: 12px;

// General purpose vars

$default-font: 'Avenir', Helvetica, Arial, sans-serif;
$default-padding: 8px;
$default-margin: 8px;
$default-border-radius: 4px;

// Font colors
$default-font-color: #828282;
$dark-font-color: #515151;
$light-font-color: #ffffff;

// General purpose UI colors

$primary-color: #6cb69b;
$success-color: #009900;
$error-color: #cc0000;
$border-color: #e2e2e2;

// Calendar

$calendar-legends-width: 80px;

// Calendar Row

$calendar-row-event-border-color: #f2f2f2;
$calendar-row-height: 40px;

// Header

$header-height: 70px;
$header-background: $primary-color;

// Legends

$legend-background: #f2f2f2;

// Modal

$modal-background: #ffffff;
$modal-overlay-background: rgba(1, 1, 1, 0.7);
$modal-width: 500px;
$modal-z-index: 999;